<a href="https://colab.research.google.com/github/ryansambila/11-Data-Collection/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at 'APPLICATION_TYPE' value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 750
application_types_replace = list(application_type_counts[application_type_counts < cutoff_value].index)

# Display the list of application types to be replaced
print(application_types_replace)

['T8', 'T7', 'T10', 'T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [8]:
# Replace in dataframe
for app in application_types_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_over1 = classification_counts[classification_counts > 1]
print(classification_counts_over1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1500

# Create a list of classifications to be replaced; i.e., those that occur less than the cutoff value
classifications_replace = list(classification_counts[classification_counts < cutoff_value].index)

# Display the list of classifications to be replaced
print(classifications_replace)

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [14]:
# Replace in dataframe
for cls in classifications_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

# Display the first few rows of the dataframe to verify the transformation
print(application_df_dummies.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                    True
1       1   108590              1                   False
2       1     5000              0                   False
3       1     6692              1                   False
4       1   142590              1                   False

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                 False                False                False
1                 False                 True                False
2                 False                False                False
3                 False                 True                False
4                 False                 True                False

   APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  AFFILIATION_CompanySponsored  \
0                False                False                         False
1                False                False                         False
2                 True                False                          True
3                False                False                          True
4                False                False                         False

   ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0  ...              False                   False                     False
1  ...               True                   False                     False
2  ...              False                   False                     False
3  ...              False                    True                     False
4  ...              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 41 columns]

In [16]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL'].values
X = application_df_dummies.drop(['IS_SUCCESSFUL'], axis=1).values

# Display the shapes of the target and features arrays to verify
print(f"Shape of Features Array: {X.shape}")
print(f"Shape of Target Array: {y.shape}")

Shape of Features Array: (34299, 40)
Shape of Target Array: (34299,)

In [17]:
# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Display the shape of the train and test sets to verify
print(f"Shape of Train Features: {X_train.shape}")
print(f"Shape of Test Features: {X_test.shape}")
print(f"Shape of Train Target: {y_train.shape}")
print(f"Shape of Test Target: {y_test.shape}")

Shape of Train Features: (25724, 40)
Shape of Test Features: (8575, 40)
Shape of Train Target: (25724,)
Shape of Test Target: (8575,)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn = tf.keras.models.Sequential()

# Import necessary Keras modules
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Number of input features
number_input_features = X_train.shape[1]
# Number of neurons in the first hidden layer
hidden_nodes_layer1 =  90
# Number of neurons in the second hidden layer
hidden_nodes_layer2 =50
# Number of neurons in the third hidden layer
hidden_nodes_layer3 =30
# Number of neurons in the fourth hidden layer
hidden_nodes_layer4 =10

# Define the neural network model
nn_model = Sequential()

# First hidden layer
nn_model.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn_model.add(Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn_model.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 90)                3690

 dense_1 (Dense)             (None, 50)                4550

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 8291 (32.39 KB)
Trainable params: 8291 (32.39 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [21]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5724 - accuracy: 0.7203
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5597 - accuracy: 0.7265
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7299
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5548 - accuracy: 0.7280
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7306
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7303
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7311
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7331
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7322
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7328
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7324
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7334
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7338
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7332
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7340
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7329
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7339
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7357
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7357
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7332
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7345
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7350
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7351
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7345
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7355
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7352
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7356
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7355
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7360
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7361
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7362
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7357
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7364
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7362
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7371
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7370
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7361
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7363
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7364
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7364
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7363
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7376
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7366
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7366
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7372
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7370
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7376
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7369
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7372
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7377
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7382
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7367
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7374
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7379
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7372
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7375
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5412 - accuracy: 0.7381
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7370
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7377
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7379
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7386
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7383
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5400 - accuracy: 0.7373
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7387
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7379
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7386
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7385
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7385
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7383
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7390
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7385
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7379
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7372
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7388
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7391
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7389
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7394
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7381
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7381
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7380
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7388
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7388
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7387
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7380
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7385
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7387
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7386
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7383
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7389
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7388
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7390
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7389
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7390
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7392
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7393
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5382 - accuracy: 0.7393
Epoch 97/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5385 - accuracy: 0.7391
Epoch 98/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5382 - accuracy: 0.7385
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7387
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7390

In [22]:
# Evaluate the model using the test data
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)

# Print out the model's loss and accuracy
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5678 - accuracy: 0.7299 - 573ms/epoch - 2ms/step
Loss: 0.5678344964981079, Accuracy: 0.729912519454956